/* .vitepress/theme/custom.css */

img {
    display: inline;
    margin: 2px;
}

@media (min-width: 1000px) {
    #screenshot {
        width: 900px;
    }
}

.dark #screenshot {
    content: url('/screenshot-dark.png');
}
