/* .vitepress/theme/custom.css */

img {
    display: inline;
    margin: 2px;
}

@media (min-width: 1000px) {
    #screenshot {
        width: 900px;
    }
}

* {
    font-family: 'Source Sans Pro', sans-serif;
}

html.dark {
    /* 自定义深色背景颜色 */
    --el-bg-color: none;
    --el-bg-color-overlay: var(--el-bg-color);
    --el-fill-color-blank: var(--el-bg-color);
    --el-collapse-header-bg-color: none;
    --el-collapse-content-bg-color: none;
}

.el-collapse-item__header {
    width: auto;
}

.el-collapse-item__content {
    padding-top: 4px;
}

.vp-doc a {
    text-decoration: none;
}

html.dark .light-only {
    display: none !important;
}

html:not(.dark) .dark-only {
    display: none !important;
}
